*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    width:100%;
}
body{
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}
.first-background{
    background-color: rgba(0, 150, 136, 1);
    position: relative;
    height: 150px;
    
    
}
.second-background{
    background-color:rgba(216, 219, 214, 1) ;
    height: 1000px;
    position: relative;

}

.card{
    width: 80%;
    height: 95%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
   
    
    
}
